<!--=====================================
	Header Promotion
======================================-->
<app-header-promotion></app-header-promotion>

<!--=====================================
	Header
======================================-->
<app-header></app-header>

<!--=====================================
	Header Mobile
======================================-->
<app-header-mobile></app-header-mobile>

<router-outlet></router-outlet>

<!--=====================================
	NewLetter
======================================-->
<app-newletter></app-newletter>

<!--=====================================
	Footer
======================================-->
<app-footer></app-footer>